[access]
	inheritFrom = All-Projects
[project]
	description = This component is designed for the rule management in Holmes. It implements the CRUD and verification logic on the server side.\n\nRead-only as per IT-26907
	state = read only
[access "refs/*"]
	read = group GitHub Replication
	owner = group saml/onap-gerrit-holmes-rule-management-committers
[plugin "its-jira"]
	enabled = true
