[access]
	inheritFrom = holmes
[project]
	description = This component is designed for the rule management in Holmes. It implements the CRUD and verification logic on the server side.
[access "refs/*"]
	read = group GitHub Replication
[allowSuperproject "doc"]
	matching = refs/heads/beijing:refs/heads/2.0.0-ONAP
